<?xml version="1.0" encoding="utf-8"?>
<Actions>

    <Action>
        <Id>PostToJournal</Id>
        <Title>
            <Item key="default">Post to DNN Journal</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action will post a messge to DNN journal.
            </Item>
        </HelpText>
        <Settings>
            <Group>Dnn</Group>
        </Settings>
        <TypeStr>ActionForm.DnnJournal.PostToJournal, ActionForm.DnnJournal</TypeStr>

        <Parameter>
            <Id>UserId</Id>
            <Title>
                <Item key="default">User ID</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Post on this user wall. Leave blank to default to current user. Supports form tokens and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>Message</Id>
            <Title>
                <Item key="default">Message</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The message to post.
                    Supports form tokens and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank" tabindex="-1">My Tokens</a>.
                </Item>
            </HelpText>
            <Type>RichText</Type>
        </Parameter>

    </Action>
    
</Actions>
